#cart-title,
#dialog-title {
    color: #C83C0Eff;
}

aside#shopping-cart {
    background-color: #fff;
    height: 625px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

div#menuItem-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: auto;
    gap: 1rem;
}

div.order-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button#confirm-order {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #C83C0Eff;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

small.delivery-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: #FCF8F5;
    padding: 20px;
    font-weight: bold;
}

p.total-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.feather {
    stroke: #D00000;
    stroke-width: 2;
}

.feather#checkmark-icon {
    stroke: #85CB33;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 15px;
}

data#sum-total {
    font-size: 1.75rem;
    color: #C83C0Eff;
    font-weight: 700;
}

span#cartItem-qty {
    font-size: 1.25rem;
}

div.qty-controls {
    display: none;
}

button.order-controls {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: .5rem;
    border: 1px solid #C83C0Eff;
    border-radius: 25px;
    padding: 10px 30px;
    position: absolute;
    top: 230px;
    left: 42px;
}

button.order-controls:hover {
    background-color: #BF3A0D;
    color: #FCF8F5;

    .feather {
        stroke: #FCF8F5;
    }
}

article.card {
    position: relative;
}

button#new-order {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #C83C0Eff;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

section#shopping-cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.price-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

ul#cart-container {
    height: 100%;
    width: 100%;
    padding: 0 40px;
    background-color: #FCF8F5ff;
}

#dialog-title {
    margin: 0;
}

dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}